.contact{
    height: 1020px;
    width: 100%;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #A8DADC;
}

.box-container-form{
    width: 1090px;
    height: 680px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
    padding: 0px 20px;
}
.box-contactme{
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.box-writeme{ 
    width: 450px;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.title-contactme{
    font-size: 45px;
    color: rgb(157, 157, 157);
    margin-bottom: 20px;
}
.text-contactme{
    font-size: 16px;
    color: rgb(157, 157, 157);
    width:370px;
}

.li-contacto{
    width: 200px;
    height: 40px; 
}
.rrss-contact{ 
    width: 400px;
    height: 250px;
    margin-top: 60px;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
.circulo-rrss-contact{
    width: 40px;
    height: 40px;
    background-color:transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-rrss-profiles{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}

.link-none-deco-contact{
    text-decoration: none;
    margin: 10px;
    color: rgb(157, 157, 157);
}

.link-none-deco-contact:visited{
    color: rgb(157, 157, 157);
    text-decoration: none;
}

.icono-rrss-contact{
    width: 20px;
    height: 20px;
}
.li-contacto:hover .link-none-deco-contact{
    color: #A8DADC;
}
.li-contacto:hover .circulo-rrss-contact{
    background-color:#A8DADC;
}

.input-style{
    outline-style: none;
}
.title-writeme{
    font-size: 45px;
    color: rgb(157, 157, 157);
    margin-bottom: 20px;
}
.box-name-lastname{
    width: 450px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box-name{
    width: 200px;
    height: 80px;
    display: flex;
    flex-direction: column;
    color: rgb(157, 157, 157);
}
.input-name-lastname{
    width: 200px;
    height: 40px;
    background-color:  rgb(250, 245, 245);
    border-radius: 20px;
    border: transparent; 
    padding-left: 10px;
}
.box-lastname{
    width: 200px;
    height: 80px;
    display: flex;
    flex-direction: column;
    color: rgb(157, 157, 157);
}

.box-mail{
    width: 450px;
    height: 80px;
    display: flex;
    flex-direction: column;
    color: rgb(157, 157, 157);
}
.input-mail{
    width: 450px;
    height: 40px;
    background-color:  rgb(250, 245, 245);
    border-radius: 20px;
    border: transparent; 
    padding-left: 10px;
}
.input-mail:invalid {
    border: 2px solid red;
}

input:focus{
    background-color: rgb(218, 216, 216)
}

.box-message{
    width: 450px;
    height: 240px;
    display: flex;
    flex-direction: column;
    color: rgb(157, 157, 157);
}
.input-message{
    width: 450px;
    height: 200px;
    background-color:  rgb(250, 245, 245);
    border-radius: 20px;
    border: transparent ; 
    padding-left: 10px;
    padding-bottom: 150px;
}
button{
    width: 130px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E63946;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
    border: 1px solid rgb(157, 157, 157); 
}
button:hover{
    background-color:#f14856;
}
button:active{
    background-color:#A8DADC;
}

@media screen and (max-width:400px){
    .contact{
        height: 1450px;
        width: 400px;
        display: flex;
        background-color: #A8DADC;
    }
    
    .box-container-form{
        height: 1300px;
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        border-radius: 10px;
        background-color: white;

    }
    .box-contactme{
        height: 600px;
        width: 350px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

    }

    .title-contactme{
        font-size: 40px;
        color: rgb(157, 157, 157);
        padding-right: 90px;
    }
    .text-contactme{
        height: 100px;
        width: 350px;
        font-size: 16px;
        color: rgb(157, 157, 157);
    }
    .rrss-contact{ 
        height: 200px;
        width: 350px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;


    }
    .box-writeme{ 
        height: 500px;
        width: 350px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

    }
    .box-name-lastname{
        height: 150px;
        width: 350px;
        display: flex;
        flex-direction: column;
    }
    .input-name-lastname{
        height: 40px;
        width: 350px;
        background-color:  rgb(250, 245, 245);
        border-radius: 20px;
        border: transparent; 
        padding-left: 10px;
    }

    .input-mail{
        height: 40px;
        width: 350px;
        background-color:  rgb(250, 245, 245);
        border-radius: 20px;
        border: transparent; 
        padding-left: 10px;
    }

    .input-message{
        height: 200px;
        width: 350px;
        background-color:  rgb(250, 245, 245);
        border-radius: 20px;
        border: transparent ; 
        padding-left: 10px;
        padding-bottom: 150px;
    }
}