.projects{
    height: 1520px;
    width: 100%;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: rgb(250, 245, 245);
}

.box-container-projects{
    width: 1500px;
    height: 1350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-projects{
    margin: 30px 370px;
    font-size: 45px;
    color: rgb(157, 157, 157);
}
.text-projects{
    width:400px;
    height: 66px;
    text-align: center;
    margin: 0px 300px;
    font-size: 16px;
    color: rgb(157, 157, 157);;
}
.grid-my-projects{
    width: 1100px;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
}
.box-each-project{
    width: 340px;
    height: 340px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgb(230, 228, 228);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projects-img-size{
    width: 200px;
    height: 200px;
}
.text-each-project{
    color: rgb(157, 157, 157);
    font-size: 15px;
    font-weight: 300;
    margin-top: 20px;
}
.box-each-project:hover{
    border: 1.5px solid #E63946;
}

.box-each-project:hover .text-each-project{
    color: #E63946;
}

@media screen and (max-width:400px){
    .projects{
        height: 2900px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center; 
        background-color: rgb(250, 245, 245);
    }
    .box-container-projects{
        height: 2850px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

    }

    .title-projects{
        width: 300px;
        height: 70px;
        font-size: 30px;
        text-align: center;
        color: rgb(157, 157, 157);
    }  

    .text-projects{
        width:300px;
        height: 100px;
        text-align: center;
        font-size: 16px;
        color: rgb(157, 157, 157);
    }
    .grid-my-projects{
        height: 900px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 0px;
        padding-left: 10px;
    }

    .box-each-project{
        height: 340px;
        width: 340px;
        background-color: white;
        border-radius: 10px;
        border: 1px solid rgb(230, 228, 228);
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .projects-img-size{
        width: 200px;
        height: 200px;
    }
    .text-each-project{
        color: rgb(157, 157, 157);
        font-size: 15px;
        font-weight: 300;
        margin-top: 20px;
    }
    .box-each-project:hover{
        border: 1.5px solid #E63946;
    }
    
    .box-each-project:hover .text-each-project{
        color: #E63946;
    }
}