.quote{
    height: 589;
    width: 100%;
    background-color: #A8DADC;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote-container{
    width: 1100px;
    height: 328px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.quotation-mark{
    width: 80px;
    height: 80px;
}
.text-quote{
    width: 800px;
    height: 140px;
    color: white;
    text-align: center;
    font-size: 19px;
    margin: 20px;
}
.sign-quote{
    color: white;
    font-size: 27px;
}

@media screen and (max-width:400px){
    .quote{
        height: 700px;
        width: 100%;
        background-color: #A8DADC;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .quote-container{
        height: 400px;
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .text-quote{
        height: 140px;
        width: 300px;
        color: white;
        text-align: center;
        font-size: 19px;
        margin: 20px;
    }

    .sign-quote{
        color: white;
        font-size: 20px;
        margin-top: 100px;
    }
}